@font-face {
    font-family: 'MinecraftFive';
    src: url(../assets/fonts/MinecraftFive.otf);
}

body {
    font-family: "MinecraftFive";
}

.gameWindow{
	display: flex;
	height: 100vh;
	width: 100vw;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
}


.fake-button {
	border:none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left:0px;
	padding-right:0px;
}

.real-button:hover{
	background-color: #4AD95C;
}

.real-button:disabled{
	background-color: #313131;
}

.real-button{
	font-size: 2vh;
	font-family: "MinecraftFive";
	background-color: #31B23D;
	color: white;
	border-color: #24241B;
	border-width: 0.2vh;
}

.title-button-alignleft{
	width:10vw;
	height: 10vh;
}

.title-button-alignright{
	width:10vw;
	height: 10vh;
	margin-left: 1vw;
}



.titlebar{
	padding: 0;
	margin: 0;
	left: 6vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	position: absolute;
	top: 3vh;
	height: 3vh;
}

.open-spacer{
	width: 88vw;
}

.titlebar-spacer{
	width: 45vw;	
}

.footer-spacer{
	width: 80vw;	
}

.player{
	padding: 0;
	margin: 0;
	margin-left: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	bottom: 6vh;
	height: 4vh;
}

.timeline-button{
	width:3vw;
	height: 5vh;
	margin-left: 0.3vw;
	margin-right: 0.3vw;
	background-repeat: no-repeat;
	background-position: center;	
	background-size: 75%;
}

.timeline{
	font-size: 3vh;
	background-color: #24241B;
	color: white;
	margin-bottom: 1vh;
}

.timeline-control{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.playPause{
	background-image: url("../assets/images/play.png");
}

.playFull{
	background-image: url("../assets/images/playfull.png");
}

.firstFrame{
	background-image: url("../assets/images/first.png");
}

.previousFrame{
	background-image: url("../assets/images/previous.png");
}

.nextFrame{
	background-image: url("../assets/images/next.png");
}

.lastFrame{
	background-image: url("../assets/images/last.png");
}

.modal{
	width:50vw;
	height:40vh;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	border:none;
	background-image: url("../assets/images/modal_0.png");
}

.footer{
	padding: 0;
	margin: 0;
	left: 6vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	position: absolute;
	bottom: 3vh;
	height: 3vh;	
}

.wallOfFame{
	background-image: url("../assets/images/wall_of_fame.png");
}

.footer-button{
	width:3vw;
	height: 5vh;
	margin-left: 0.3vw;
	margin-right: 0.3vw;
	background-repeat: no-repeat;
	background-position: center;	
	background-size: 75%;	
}

.wall-of-fame-image{
	width:60vw;
	height:80vh;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	border:solid;
	border-radius: 2%;
	background-image: url("../assets/images/wall_of_fame_content.png");
}

.wall-of-fame-content{
	padding: 0;
	margin: 0;
	left: 20vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	position: absolute;
	top: 3vh;
	height: 3vh;
}

.wall-of-fame-navbar{
	padding: 0;
	margin: 0;
	left: 6vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	position: absolute;
	bottom: 10vh;
	height: 3vh;
}

.version{
	font-size: 3vh;
	color: white;
}

.delete-button-confirm{
	font-size: 2vh;
	font-family: "MinecraftFive";
	background-color:red;
	color: white;
	border-color: #24241B;
	border-width: 0.2vh;
}

.delete-button-deleted{
	font-size: 2vh;
	font-family: "MinecraftFive";
	background-color:blue;
	color: white;
	border-color: #24241B;
	border-width: 0.2vh;
}












