<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<script src="../UIEngine.js"></script>
	<link rel="stylesheet" href="../main.css" />
	<link rel="stylesheet" href="confirmModal.css" />
</head>

<body>

	<body>
		<div class="gameWindow">
			<div class="modal">
				<div class="titleBlock">
					<span class="title">Delete all keyframes?</span>
				</div>
				<div class="buttons">
					<button id="yesButton" class="real-button modalButton">Yes</button>
					<button id="noButton" class="real-button modalButton">No</button>
				</div>
			</div>
		</div>
	</body>
</body>
<script src="confirmModal.js"></script>

</html>